<body>
  <header>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Notenberechnung</span>
    </mat-toolbar>
  </header>
  <main>
    <mat-drawer-container class="sidenav-container">
      <mat-drawer #drawer class="sidenav" mode="side">
        <div>
          <button [routerLink]="['semester']" color="primary" mat-button>Grades</button>
        </div>
        <div>
          <button [routerLink]="['calculator']" color="primary" mat-button>Calculator</button>
        </div>
        <br>
        <app-login></app-login>

      </mat-drawer>

      <div class="sidenav-content">
        <h1 *ngIf="!oauthService.hasValidAccessToken()">Willkommen</h1>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </main>
</body>
